body{
        font-family: "Roboto", sans-serif;
        color: #434455;
        background-color: #fff;
    }

    ul, ol{
        list-style-type: none;
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 0;        
    }

    p, h1, h2, h3, h4, h5, h6{
        margin-top: 0;
        margin-bottom: 0;
    }   

    a{
        text-decoration: none;
    }

    .page-header{
        padding-top: 24px;
        padding-bottom: 24px;
    }

    .container {
        width: 1440px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .header-container{
        display: flex;        
    }

    .logo{
        font-family: "Raleway", sans-serif;
            font-weight: 700;
            font-size: 18px;
            line-height: 1.17;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color:#4d5ae5;
            margin-left: 156px;
            margin-right: 72px;
    }
    .header-logo .logo-part{
        color: #2e2f42;
    }

    .header-nav{
        display: flex;
        align-items: center;
    }

    .nav-link{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        /* display: flex; */
    }
   
    .nav-list{
        display: flex;
        gap: 40px;
    }

    .contacts{
        
        font-style: normal;
        margin-left: auto;
    }

   
    .contacts-list{
        display: flex;
        gap: 40px;
    }
    
    .contacts-link{
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        
    }

    .nav-link:hover,
    .nav-link:focus,        
    .contacts-link:hover,  
    .contacts-link:focus{
        color: #404bbf;
    }
    .section-main{
        width: 1440px;
        height: 600px;
        background-color: #2e2f42;
        padding-top: 188px;
        padding-bottom: 188px;
    }
    .mine-title{
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
        text-align: center;
        margin-left: 472px;
        margin-right: 472px;
        max-width: 496px;
        margin: 0 auto;
       
    }
    .order-button{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
        background-color: #4d5ae5;
        cursor: pointer;
        margin-top: 48px;
        margin-left: 636px;
        border-radius: 4px;
        padding: 16px 32px;
        min-width: 169px;
        height: 56px;

    }
    .order-button:hover, .order-button:focus{
        background-color: #404bbf;
    }
      
    .section-our-team{
        width: 1440px;
        height: 732px;
        background-color: #F4F4FD;
        }

    .list{
        display: flex;
        gap: 24px;
       margin: 120px 156px;
    } 
        
    .item{
        background-color: #fff;
    }

    .section-name{
        text-transform: capitalize;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        }
    
        .title {
                font-weight: 500;
                font-size: 20px;
                line-height: 1.2;
                letter-spacing: 0.02em;
                color: #2e2f42;
                padding-bottom: 8px;
        }
    
        .text { 
                font-weight: 400;
                font-size: 16px;
                line-height: 1.5;
                letter-spacing: 0.02em;
                color: #434455;
                }
                  
    .list-our-team{
        display: flex;
        gap: 24px;
        margin: 72px 156px 120px 156px;
        
    }
    
    .section-name{
        text-align: center;
        margin-bottom: 72px;
    }
    
    .section-portfolio{
        width: 1128px;
        height: 1000px;
        margin: 120px 156px;
    }

    .list-portfolio{
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
                   }

    .button-portfolio{
        border-bottom: 1px solid #434455;
        border-left: 1px solid #434455;
        border-right: 1px solid #434455;
        padding: 32px 16px;
        width: 360px;
        height: 120px;               
    }

    .footer .logo-part-footer {
                color: #f4f4fd; 
            }
    
    .footer{
        width: 1440px;
        height: 312px;
        background-color: #2e2f42;
    }

    .footer-logo{
        margin-bottom: 16px;
    }

    .footer-text{
            font-weight: 400;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #f4f4fd;
            margin: 140px 1020px 100px 156px;       
    }
    